@mixin button($buttonsize) {
    cursor:pointer;
    width:$buttonsize * 0.75;
    height:$buttonsize * 0.75;
    border-color: white;
    border-width: $buttonsize / 20;
    border-style: solid;
    background-color: #8AA7A8;
    color: white;
    font-size: $buttonsize;
    -webkit-border-radius: $buttonsize * 0.5;
    -moz-border-radius: $buttonsize * 0.5;
    border-radius: $buttonsize * 0.5;
}

@mixin sizedButton($buttonsize) {
    cursor:pointer;
    border-color: white;
    border-width: $buttonsize / 20;
    border-style: solid;
    background-color: #8AA7A8;
    color: white;
    font-size: $buttonsize;
    padding:0.2em;
    -webkit-border-radius: $buttonsize * 0.2;
    -moz-border-radius: $buttonsize * 0.2;
    border-radius: $buttonsize * 0.2;
}


.page#start {
    button {
        @include button(5em);
    }
}

.page#config,
.page#drink_start,
.page#round_end,
.page#round_end_lucky,
.page#round_optin{
    button {
        @include sizedButton(2em);
    }
}